body {
    font-family: Arial, sans-serif;
    background-color: #04131C;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.feedback {
    margin-top: 20px;
    font-size: 24px;
}

.input-container {
    margin-top: 20px;
}

input[type="text"].guessDigit {
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    text-align: center;
}

.submit-button, button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit-button {
    width: 80%;
}

.guessDigit {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 40px;
}

button {
    background-color: #02423C;
    color: #12C29E;
}

button:hover {
    background-color: #066E65;
}

.error {
    color: red;
    margin-top: 10px;
}

.result {
    font-size: 20px;
    margin-top: 20px;
}

.wrapper {
    background-color: #082030;
    border-radius: 5px;
}

.github-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding-top: 20px;
}

.github-link i {
    margin-right: 2px;
}

.progress-container {
    width: 80%;
    margin: 10px auto;
    background-color: #1B1F25;
    height: 20px;
    border-radius: 5%;
    overflow: hidden;
}

.progress-bar {
    background-color: #FC4207;
    height: 100%;
    width: 0%;
    transition: width 1.0s linear;
}

.green, .yellow, .red {
    font-weight: bold;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

#colorDescription,
#keyDescription {
    margin-top: 20px;
}

#colorDescription span,
#keyDescription strong {
    font-weight: bold;
}

#keyDescription strong {
    color: #ff0;
}
