/* Base styles */
.mute-button {
  align-items: center;
  background-color: #20282E;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.mute-button img {
  height: 30px;
  width: 30px;
}

.settings {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.settings div {
  align-items: center;
  background-color: #20282E;
  border-radius: 5px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

.settings label {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  padding-bottom: 3px;
}

.slider {
  -webkit-appearance: none;
  background: #1b1f25;
  border-radius: 5px;
  height: 8px;
  opacity: 0.7;
  outline: none;
  transition: opacity .2s;
  width: 100px;
}

.slider:hover {
  opacity: 1;
}

/* Thumb styles for sliders */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px; /* Smaller thumb */
  height: 18px; /* Smaller thumb */
  border-radius: 50%;
  background: #fc4207;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px; /* Smaller thumb */
  height: 18px; /* Smaller thumb */
  border-radius: 50%;
  background: #fc4207;
  cursor: pointer;
}

.slider-value {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.practice-button {
  background-color: #121D27;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px 20px;
}

.practice-button.active {
  background-color: #203344;
}

.combo-message {
  animation: fadeOut 1s ease-out;
  color: white;
  font-size: 2rem;
  left: 50%;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.invisible {
  visibility: hidden;
}

.App-link {
  color: #61dafb;
}

.tile-image {
  height: 100%;
  width: 100%;
}

.top-menu {
  align-items: center;
  background-color: #062D40;
  color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  color: white;
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
}

.github-link {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.github-link a {
  color: white;
  display: flex;
  text-decoration: none;
}

.github-link a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-items {
    background-color: #282c34;
    display: none;
    flex-direction: column;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }

  .menu-items.open {
    display: flex;
  }
}

/* Keyframes */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
